{#- Default system message if no system prompt is passed. #}
{%- set default_system_message = '' %}

{#- Begin of sequence token. #}
{{- '<s>' }}


{#- Handle system prompt if it exists. #}
{#- Extract all system messages and merge into system prompt. #}
{%- set ns_sys = namespace(system_parts=[], filtered=[]) %}
{%- for message in messages %}
    {%- if message['role'] == 'system' %}
        {%- if message['content'] is string %}
            {%- set ns_sys.system_parts = ns_sys.system_parts + [message['content']] %}
        {%- else %}
            {%- for block in message['content'] %}
                {%- if block['type'] == 'text' %}
                    {%- set ns_sys.system_parts = ns_sys.system_parts + [block['text']] %}
                {%- else %}
                    {{- raise_exception('Only text chunks are supported in system message content.') }}
                {%- endif %}
            {%- endfor %}
        {%- endif %}
    {%- else %}
        {%- set ns_sys.filtered = ns_sys.filtered + [message] %}
    {%- endif %}
{%- endfor %}
{%- if ns_sys.system_parts | length > 0 %}
    {%- set system_message = ns_sys.system_parts | join('\n\n') %}
{%- else %}
    {%- set system_message = default_system_message %}
{%- endif %}
{%- set loop_messages = ns_sys.filtered %}


{#- Tools and model settings definition #}
{%- set tools_and_settings = '' %}
{%- set has_tools = false %}
{%- if tools is defined and tools is not none and tools|length > 0 %}
    {%- set has_tools = true %}
    {%- set tools_and_settings = '[AVAILABLE_TOOLS]' + (tools| tojson) + '[/AVAILABLE_TOOLS]' %}
{%- endif %}

{#- Aggregate consecutive messages with the same role. #}
{#- System and tool messages are never merged across consecutive messages. #}
{#- A sentinel message is appended so the last group gets flushed inside the loop #}
{#- without duplicating the flush logic after the loop. #}
{%- set ns_agg = namespace(messages=[], current_group=[], current_role=none) %}
{%- for message in loop_messages + [{'role': '__sentinel__'}] %}
    {%- if message['role'] != ns_agg.current_role or message['role'] == 'system' or message['role'] == 'tool' %}
        {%- if ns_agg.current_role == 'tool' %}
            {%- set ns_agg.messages = ns_agg.messages + ns_agg.current_group %}
        {%- elif ns_agg.current_role is not none %}
            {%- set ns_c = namespace(text_parts=[], chunks=[], has_non_text=false, tool_calls=[]) %}
            {%- for msg in ns_agg.current_group %}
                {%- if msg['content'] is string %}
                    {%- set ns_c.text_parts = ns_c.text_parts + [msg['content']] %}
                {%- elif msg['content'] is not none %}
                    {%- for block in msg['content'] %}
                        {%- if block['type'] == 'text' %}
                            {%- set ns_c.text_parts = ns_c.text_parts + [block['text']] %}
                        {%- else %}
                            {%- if ns_c.text_parts | length > 0 %}
                                {%- set ns_c.chunks = ns_c.chunks + [{'type': 'text', 'text': ns_c.text_parts | join('\n\n')}] %}
                                {%- set ns_c.text_parts = [] %}
                            {%- endif %}
                            {%- set ns_c.chunks = ns_c.chunks + [block] %}
                            {%- set ns_c.has_non_text = true %}
                        {%- endif %}
                    {%- endfor %}
                {%- endif %}
                {%- if msg['tool_calls'] is defined and msg['tool_calls'] is not none %}
                    {%- set ns_c.tool_calls = ns_c.tool_calls + msg['tool_calls'] | list %}
                {%- endif %}
            {%- endfor %}
            {%- if ns_c.has_non_text %}
                {%- if ns_c.text_parts | length > 0 %}
                    {%- set ns_c.chunks = ns_c.chunks + [{'type': 'text', 'text': ns_c.text_parts | join('\n\n')}] %}
                {%- endif %}
                {%- set merged_content = ns_c.chunks %}
            {%- else %}
                {%- set merged_content = ns_c.text_parts | join('\n\n') %}
            {%- endif %}
            {%- if ns_c.tool_calls | length > 0 %}
                {%- set ns_agg.messages = ns_agg.messages + [{'role': ns_agg.current_role, 'content': merged_content, 'tool_calls': ns_c.tool_calls}] %}
            {%- else %}
                {%- set ns_agg.messages = ns_agg.messages + [{'role': ns_agg.current_role, 'content': merged_content}] %}
            {%- endif %}
        {%- endif %}
        {%- if message['role'] != '__sentinel__' %}
            {%- set ns_agg.current_group = [message] %}
            {%- set ns_agg.current_role = message['role'] %}
        {%- endif %}
    {%- else %}
        {%- set ns_agg.current_group = ns_agg.current_group + [message] %}
    {%- endif %}
{%- endfor %}
{%- set loop_messages = ns_agg.messages %}

{#- Checks for alternating user/assistant messages. #}
{%- set ns = namespace(index=0, max_idx_user=-1) %}
{%- for message in loop_messages %}
    {%- if message.role == 'user' or (message.role == 'assistant' and (message.tool_calls is not defined or message.tool_calls is none or message.tool_calls | length == 0)) %}
        {%- if (message['role'] == 'user') != (ns.index % 2 == 0) %}
            {{- raise_exception('After the optional system message, conversation roles must alternate user and assistant roles except for tool calls, results and system messages.') }}
        {%- endif %}
        {%- set ns.index = ns.index + 1 %}
        {%- if message.role == 'user' %}
            {%- set ns.max_idx_user = ns.max_idx_user + 1 %}
        {%- endif %}
    {%- endif %}
{%- endfor %}


{%- set ns.index = 0 %}
{#- Handle conversation messages. #}
{%- for message in loop_messages %}
    {#- User messages supports text content. #}
    {%- if message['role'] == 'user' %}
        {%- if (ns.index == ns.max_idx_user) and has_tools %}
            {{- tools_and_settings }}
        {%- endif %}
        {{- '[INST]' }}
        {%- if (ns.index == ns.max_idx_user) and system_message != '' %}
            {{- system_message + '\n\n' }}
        {%- endif %}
        {%- if message['content'] is string %}
            {{- message['content']}}
        {%- elif message['content'] | length > 0 %}
            {%- for block in message['content'] %}
                {%- if block['type'] == 'text' %}
                    {{- block['text'] }}
                {%- else %}
                    {{- raise_exception('Only text chunks are supported in user message content.') }}
                {%- endif %}
            {%- endfor %}
        {%- else %}
            {{- raise_exception('User message must have a string or a list of chunks in content') }}
        {%- endif %}
        {{- '[/INST]' }}

    {#- Assistant messages supports text content. #}
    {%- elif message['role'] == 'assistant' %}
        {%- if message['content'] is not none and message['content'] | length > 0 and message['tool_calls'] is defined and message['tool_calls'] is not none and message['tool_calls']|length > 0 %}
            {{- raise_exception('Assistant message cannot have both content and tool calls.') }}
        {%- endif %}

        {%- if message['content'] is string and message['content'] != '' %}
            {{- message['content'] }}
            {{- '</s>' }}
        {%- elif message['content'] | length > 0 %}
            {%- for block in message['content'] %}
                {%- if block['type'] == 'text' %}
                    {{- block['text'] }}
                {%- else %}
                    {{- raise_exception('Only text chunks are supported in assistant message contents.') }}
                {%- endif %}
            {%- endfor %}
            {{- '</s>' }}
        {%- elif message['tool_calls'] is defined and message['tool_calls'] is not none and message['tool_calls']|length > 0 and ns.index > ns.max_idx_user %}
            {{- '[TOOL_CALLS][' }}
            {%- for tool in message['tool_calls'] %}
                {%- set name = tool['function']['name'] %}
                {%- set arguments = tool['function']['arguments'] %}
                {%- if arguments is not string %}
                    {%- set arguments = arguments|tojson|safe %}
                {%- elif arguments == '' %}
                    {%- set arguments = '{}' %}
                {%- endif %}
                {{- '{"name": "' + name + '", "arguments": ' + arguments + '}' }}
                {%- if loop.length > 1 and loop.index < loop.length %}
                    {{- ', ' }}
                {%- endif %}
            {%- endfor %}
            {{- ']' }}
            {{- '</s>' }}
        {%- elif message['tool_calls'] is defined and message['tool_calls'] is not none and message['tool_calls']|length > 0 and ns.index <= ns.max_idx_user %}
        {%- else %}
            {{- raise_exception('Assistant message must have a string or a list of chunks in content or a list of tool calls.') }}
        {%- endif %}

    {#- Tool messages supports int, float or text content. #}
    {%- elif message['role'] == 'tool' and ns.index > ns.max_idx_user %}
        {# Try to parse 'content' as int or float if possible #}
        {%- set tool_content = message['content']|string %}
        {# Try to parse as int #}
        {%- set parsed_int = message['content']|int %}
        {% if parsed_int|string == message['content'] %}
            {%- set tool_content = parsed_int %}
        {# If int fails, try to parse as float #}
        {%- else %}
            {%- set parsed_float = message['content']|float %}
            {%- if parsed_float|string == message['content'] %}
                {%- set tool_content = parsed_float %}
            {%- endif %}
        {%- endif %}
        
        {%- if message['name'] is undefined or message['name'] is none %}
            {{- raise_exception('Tool message must have a name.') }}
        {%- endif %}

        {%- set tool_message = {'name': message['name'], 'content': tool_content} %}
        
        {{- '[TOOL_RESULTS][' + (tool_message|tojson) + '][/TOOL_RESULTS]' }}


    {#- Raise exception for unsupported roles. #}
    {%- elif message['role'] != 'tool' or ns.index > ns.max_idx_user %}
        {{- raise_exception('Only user, assistant and tool roles are supported, got ' + message['role'] + '.') }}
    {%- endif %}
    {%- if message['role'] == 'user' %}
        {%- set ns.index = ns.index + 1 %}
    {%- endif %}
{%- endfor %}
